* {
    /* set border-box and remove all padding and margins */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: #d9dcd6;
}

header {
    /* padding*/
    padding: 20px;
    
    /* background */
    background-color: #2a607c;
    
    /* typeography*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.seo {
    color: #d9dcd6;
}

.links {
    /* margins and padding */
    padding-top: 15px;
    margin-right: 20px;
    
    /* floats */
    float: right;
    
    /* typography */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

.links ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* set background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.services {
    /* margin and padding */
    margin-bottom: 20px;
    padding: 50px;

    /* background */
    background-color: #0072bb;

    /* dynamically change the height */
    height: auto;
    overflow: auto;

    /* typography */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.services img {
    max-height: 200px;
}

.sidebar {
    /* margin and padding */
    margin-right: 20px;
    padding: 20px;

    /* floats */
    clear: both;
    float: right;
    
    /* dimensions */
    width: 20%;
    height: 100%;
    
    /* background */
    background-color: #2589bd;
    
    /* typography */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.benefits {
    /* margins */
    margin-bottom: 32px;
    
    /* typography */
    color: #ffffff;
}


.benefits img {
    /* margins */
    margin: 10px auto;
    display: block;
    max-width: 150px;
}


footer {
    padding: 30px;
    
    /* floats */
    clear: both;
    
    /* typography */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    /* margins */
    margin-bottom: 0px;
    
    /* typography */
    font-size: 20px;
}
