* {
    /* Box-Model */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    /* visual */
    background-color: #d9dcd6;
}

header {
    /* Box-Model */
    padding: 20px;
    
    /* typeography*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    
    /* visual */
    background-color: #2a607c;
}

h1 {
    /* positioning */
    display: inline-block;
    
    /* typography */
    font-size: 48px;
}

h2 {
    /* positioning */
    margin-bottom: 20px;
    
    /* typography */
    font-size: 20px;
}

h3 {
    /* positioning */
    margin-bottom: 10px;
    
    /* typography */
    text-align: center;
}

.seo {
    /* typography */
    color: #d9dcd6;
}

nav {
    /* Box-Model */
    padding-top: 15px;
    
    /* positioning */
    margin-right: 20px;
    float: right;
    
    /* typography */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

nav ul li {
    /* positioning */
    margin-left: 25px;
    display: inline-block;
}

a {
    /* typography */
    color: #ffffff;
    text-decoration: none;
}

p {
    /* typography */
    font-size: 16px;
}

/* set background image */
.hero {
    /* positioning */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-position: center;
    background-size: cover;
    
    /* link image */
    background-image: url("../images/digital-marketing-meeting.jpg");
}

.float-left {
    /* positioning */
    float: left;
    margin-right: 25px;
}

.float-right {
    /* positioning */
    float: right;
    margin-left: 25px;
}

main {
    /* positioning */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.services {
    /* Box-Model */
    padding: 50px;
    
    /* positioning */
    margin-bottom: 20px;
    
    /* dynamically change the height */
    height: auto;
    overflow: auto;

    /* typography */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    
    /* visual */
    background-color: #0072bb;
}

.services img {
    max-height: 200px;
}

.sidebar {
    /* positioning */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    
    /* typography */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    /* visual */
    background-color: #2589bd;
}

.benefits {
    /* positioning */
    margin-bottom: 32px;
    
    /* visual */
    color: #ffffff;
}


.benefits img {
    /* positioning */
    margin: 10px auto;
    display: block;
    max-width: 150px;
}


footer {
    /* Box-Model */
    padding: 30px;
    
    /* positioning */
    clear: both;
    
    /* typography */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    /* positioning */
    margin-bottom: 0px;
    
    /* typography */
    font-size: 20px;
}
